<br><br><br><br>
<div id="content">
<h3 id="quote"><blockquote>"A goal is not always meant to be <span id="first">reached</span>, it often serves simply as something to <span id="last">aim</span> at."</blockquote> <p style="text-align: center">- Bruce Lee</p></h3>
<br>

<h1 class="about question">What is LifeBar?</h1>

<p class="about text">LifeBar is not a task list, it is not a calendar, it is not a reminder tool. LifeBar is the place to store things that you want to do, not the things that you have to do.</p>

<p class="about text">Rather than placing goals in rigid time slots that are forgotten when that time has come and gone, LifeBar invites you to place goals onto your LifeBar in either the past, present, or future. These goals are always present on the LifeBar until the time that you decide to remove them.</p>

<p class="about text">LifeBar goals do not exist in isolation, they can be connected, moved, and marked as complete. If a goal is completed, you are asked to reflect on the goal. LifeBar can thematically cluster your goals too.</p>

<p class="about text">Goals are more than a thing, they are a part of your life journey. Creating goals, completing (or not completing) goals, and reflecting on goals allows you to visualize goals as they are meaningful to you.</p>

<h1 class="about question">How do you do this?</h1>
<img id="snip" src="lifeBar.gif">

<h1 class="about question">I have questions, help? Or I have feedback, listen!</h1>

<p class="about text">Tweet us! Email us! Or find us on GitHub (see below)!</p>

<h1 class="about question">By the way, who are you?</h1>

<p class="about text">We are four like-minded coding youngsters with an eye to helping others help themselves answering to the names of: </p>
<ul id="contact">
  <li><a href="http://github.com/lorenanicole">Lorena Mesa</a></li>
  <li><a href="http://github.com/bmurphy1">Brian Murphy</a></li>
  <li><a href="http://github.com/shidel-dev">Joe Shidel</a></li>
  <li><a href="http://github.com/dermatobia">Sara Tansari</a></li>
</ul>

<h1 class="about question">A license you say?</h1>
<p class="about text">Not here. Our code is open source and available on <a id="ourCode" href="https://github.com/shidel-dev/goals-visualization-final-project">GitHub</a>.</p>
</div>