
<div id='container'>
  <% if current_user %>
  <%= render partial: "loadlifedata" %>
  <% end %>
  <img id='intro' src="/icons/glyphicons_194_circle_question_mark.png"></img>
  <div class="time">
    <p id="lower" class="time"></p>
    <img class="time" id="past" src="icons/glyphicons_212_down_arrow.png">
    <p id="higher" class="time"></p>
    <img class="time" id="future" src="icons/glyphicons_212_down_arrow.png">
  </div>
  <div id="current_label"><p>This is today</p></div>
  <div id='life_bar'></div>
  <img class='arrow' id="arrow_left" src="arrow_left.png">
  <img class='arrow' id="arrow_right" src="arrow_right.png">
   <div id='legend'>
    <ul>
    <li id='completeLabel'>Complete</li>
    <li id='uncompleteLabel'>Uncomplete</li>
    </ul>
  </div>
  <div id='time_intervals'>
    <p id="month">month</p>
    <p id="year">year</p>
    <p id="5year">5-year</p>
    <p id="10year">decade</p>
    <p id="life" class='selected'>life</p>
  </div>
    <% if current_user %>
      <br><br>
      <%= link_to "LifeBar Goal Words", goals_path, { id: 'goalsPath' } %>
    <% end %>
</div>

<script type="text/template" class='popupTemplate'>
  <div data-id="<%%=v.id%>" class='popup'>
    <div id="head">
    </div>
    <img src="/icons/glyphicons_207_remove_2.png" id='exit'></img>
    <div id="content" placeholder="Enter a goal..." contenteditable="true"><%%= v.title%></div>
    <div id='foot'>
    <img class='action' id='link' src="/icons/glyphicons_422_git_branch.png"></img>


    <img class='action' id='delete' src="/icons/glyphicons_016_bin.png"></img>


    <%% if (v.connections.length){%>
      <img class='action' id='sever' src="/icons/glyphicons_288_scissors.png"></img>
    <%% };$(".action").css("width","33.33%")%>
    <%% if (v.completed){%>
      <img class='action' id='reflection' src="/icons/glyphicons_087_log_book.png"></img>
     <%%}else{%>
      <img class='action' id='complete' src="/icons/glyphicons_206_ok_2.png"></img>
     <%%}%>
    </div>
  </div>

</script>

<script type="text/template" class='reflectionTemplate'>
<div id='modal'>
  <div class='mask closeReflection'>
  </div>
  <div class='reflectionHolder'>
    <h2>Reflection</h2>
    <textarea id="reflectionText" data-id="0" ><%%= v.reflection%></textarea>
    <img class='closeReflection' src='/icons/glyphicons_198_ok.png'></img>
  </div>
</div>
</script>

<script type="text/template" class='introTemplate'>
<div id='modal'>
  <div class='mask closeIntro'>
  </div>
  <div class='introHolder'>
    <img class='closeIntro' src='/icons/glyphicons_197_remove.png'></img>
    <h3>Fill you LifeBar with goals, not tasks.</h3>
    <p>Click on your LifebBar to add a goal to a point in your life.</p><br><br>
    <p>You can then click on your goal and add content.</p><br><br>
    <p>Goals can be linked to others to create paths with the linking tool:</p><img class='example' src="/icons/glyphicons_422_git_branch.png"></img><br><br>
    <p>Goals can be completed by clicking the check:</p><img class='example'  src="/icons/glyphicons_206_ok_2.png"></img><br><br>
     <p>Once completed you can use the reflection tool to assess the value of that goal:</p><img class='example'  src="/icons/glyphicons_087_log_book.png"></img><br><br>
    <p>Goals can be removed by using:<img class='example' src="/icons/glyphicons_016_bin.png"></img><br><br>
    <p>Connections can be removed by using:<img class='example'  src="/icons/glyphicons_288_scissors.png"></img></p>
   
  </div>
</div>
</script>
