
<div id='container'>
  <div id='life_bar'></div>
  <img class='arrow' id="arrow_left" src="arrow_left.png">
  <img class='arrow' id="arrow_right" src="arrow_right.png">

  <div id='time_intervals'>
    <p id="month">month</p>
    <p id="year">year</p>
    <p id="5year">5-year</p>
    <p id="10year">10-year</p>
    <p id="life" class='selected'>life</p>
  </div>

</div>

<script type="text/template" class='popupTemplate'>
  <div class='popup'>
    <img src="/icons/glyphicons_207_remove_2.png" id='exit'></img>
    <p><%%= v.title%></p>
    <div class='action' id='complete'>Complete</div>
    <div class='action' id='link'>Link</div>
    <%% if (v.connected){%>
      <div class='action' id='sever'>Sever</div>
    <%% };$(".action").css("width","33.33%")%>
  </div>

</script>
