
<div id='container'>
  <div id='life_bar'>
  </div>
  <div>
    <h2><span id="num">current year from today</span></p>
    <img id="right-arrow" src="/icons/right-grey-arrow.png">
    <img id="left-arrow" src="/icons/left-grey-arrow.png">
    <p id="month">month</p>
    <p id="year">year</p>
    <p id="5year">5-year</p>
    <p id="10year">10-year</p>
    <p id="life">life</p>
  </div>
</div>

<script type="text/template" class='popupTemplate'>
  <div class='popup'>
    <img src="/icons/glyphicons_207_remove_2.png" id='exit'></img>
    <p><%%= v.title%></p>
    <div class='action' id='complete'>Complete</div>
    <div class='action' id='link'>Link</div>
    <%% if (v.connected){%>
      <div class='action' id='sever'>Sever</div>
    <%% };$(".action").css("width","33.33%")%>
  </div>

</script>
