body{
  background-image:url('/otis_redding.png');
  font-family: 'Roboto', sans-serif;
}

#container{
  width: 960px;
  margin: auto;
  height: 800px;
}

#intro{
  position: absolute;
  top: 432px;
  margin-left: 923px;
  cursor:pointer;
}

#exit {
  float: right;
  width: 10px;
  padding-right: 4px;
  margin-top: -11px;
  cursor:pointer;
}

/* ----- POP UP TEMPLATE ---- */
.popup{
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  position: fixed;
  background-color: #fff;
}

#head {
height: 15px;
background-color: #BFBFBF;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
margin-top: -1px;
width: 202px;
margin-left: -1px;
}

#content{
  min-height: 50px;
}

#content[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

/* ---- GOAL TITLE TEMPLATE --- */

#titleBubble {
  padding: 5px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  position: fixed;
  background-color: #fff;
  max-width: 200px;
  word-wrap: break-word;
}

/* ---- LIFE BAR ---- */
#life_bar {
  position: relative;
  top: 30%;
  margin-left: 40px;
  height:200px;
  width:880px;
  overflow: hidden;
}

.arrow{
  display: none;
  width: 40px;
  margin-top: 100px;
  cursor: pointer;
}

#arrow_right {
float: right;
margin-right: -5px;
}

#arrow_left {
float: left;
margin-left: -5px;
}

#right-arrow:hover, #higher:hover, #lower:hover {
  cursor: pointer;
}

#foot {
border-top: 1px solid #000;
}

#foot > img {
margin-left: 21px;
margin-top: 2px;
}

.action{
  cursor: pointer;
}


/*---- REFLECTION MODAL -----*/
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
  top: 0;
  left: 0;
}

.reflectionHolder{
  position: fixed;
  width: 800px;
  background-color: #fff;
  margin-left: -400px;
  left: 50%;
  height: 600px;
  top: 71px;
}

#reflectionText {
margin-left: 11px;
width: 96%;
height: 80%;
}

div.reflectionHolder > h2 {
  text-align: center;
}

div.reflectionHolder > img {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

/*--- Intro Modal---*/

.introHolder{
  position: fixed;
  width: 800px;
  background-color: #fff;
  margin-left: -400px;
  left: 50%;
  height: 400px;
  top: 71px;
}

.example {
display: inline;
margin-left: 10px;
}

div.introHolder > img.closeIntro {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

div.introHolder > h3 {
  text-align: center;
}

div.introHolder > p {
  display:inline;
  margin-left: 120px;
}

/* --- TIME INTERVAL SELECTION --- */

.time {
  display: none;
  color: #F0EBDF;

}

#time_intervals {
  margin-top: 298px;
  text-align: center;
  bottom: 100px;
  color: #F0EBDF;
  border-top: 1px solid #000;
  padding-top: 10px;
  width: 535px;
  margin-left: 212.5px;
}

#time_intervals > p{
  cursor: pointer;
}
#time_intervals p {
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.selected {
  text-shadow: 0 0 26px #FFF;
  color: #FFF;
}


/* ----- TIME LABELS ----- */
#past {
  position: absolute;
  margin-left: 31px;
  top: 210px;
}

#future {
  position: absolute;
  margin-left: 910px;
  top: 210px;
}

.time {
  position: relative;
}

.time > p {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 180px;
  text-align: center;
  color: #F0EBDF;
}

#lower {
  left: -440px;
}

#higher {
  left: 440px;
}

#current_label{
  position: absolute;
  margin-left: 1px;
  color: #F0EBDF;
  top: 195px;
}

/*------- legend ------------------*/
#legend {
  position: absolute;
  margin-bottom: -50px;
  top: 430px;
  margin-left: 770px;
}

#completeLabel {
  color: #048204;
}

#uncompleteLabel {
  color: #0000FF;
}

/* ----- Goals Link ----*/

#goalsPath {
  color: #F0EBDF;
  text-decoration: none;
  position: absolute;
  margin-left: 780px;
}

#goalsPath:hover {
  color: #343434;
}

/* --------- NAV bar ------------------ */

#title-nav{
  background-color: #343434;
  color: #F0EBDF;
  width: 100%;
  height: 40px;
  position: absolute;
}

#title-nav a{
  color: #F0EBDF;
  text-decoration: none;
}

#title-nav a:hover{
  color: gray;
}

#nav-left {
  margin-left: 10px;
  margin-top: 10px;
  display: inline;
  float: left;
}

#nav-right {
  margin-top:10px;

  display: inline;
  float:right;
  margin-right: 25px;
}

#title-nav ul{
  margin-top: 0px;
  list-style: none;
}

#title-nav li {
  margin: 0 20px 0 20px;
  display: inline;
}

.logo img {
  width: 70px;
  margin-top: -5px;
}

/* ---- SIGN-IN / SIGN-OUT ---- */

.form {
  color: #F0EBDF;
}

.error {
  position: relative;
  color: yellow;
  list-style-type: none;
  text-align: center;
}

.signup_error {
  margin-top: 175px;
}
.signup_error li{
  color: yellow;
  list-style-type: none;
  text-align: center;
}

.new_user, .new_session {
  position: relative;
  left: 300px;
  top: 150px;
  padding: 10px 25px 50px 25px;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  width: 350px;
}

.new_user h2, .new_session h2{
  text-align: center;
  margin-bottom: 30px;
}
.new_user label, .new_session label {
  float: left;
}

.new_user input, .new_session input {
  position: relative;
  float: right;
}

.to_sign_up {
  margin-top: 200px;
  text-align: center;
  color: #F0EBDF;
}

.to_sign_up a {
  text-decoration: none;
  color: #343434
}

.to_sign_up a:hover {
  color: #F0EBDF
}


/*------ About Us ------*/

#content {
  margin: auto 0;
}

#quote {
  font-size: 1.5em;
  color: #343434;
}

#first {
  color: #110CE8;
}

#last {
  color: #048204;
}

.about {
  margin-left: 2%;
  width: 90%;
}

.text {
  color: #F0EBDF
}

.question {
  color: #343434
}

#snip {
  width: 50%;
  margin-left: 50px;
  border: 3px solid white;
}

#contact {
  color: #343434
}

#contact a, #ourCode{
  text-decoration: none;
  color: #343434
}

#contact a:hover, #ourCode:hover{
  color: #F0EBDF
}

