body{
  background-color: #545454 ;
  /*background-image:url('/assets/binding_dark.png');*/
  font-family: 'Roboto', sans-serif;
}

#container{
  width:960px;
  margin:auto;
  height: 800px;
}

#exit {
  float: right;
  width: 10px;
  padding-right: 4px;
  margin-top: -11px;
  cursor:pointer;
}

.popup{
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  position: fixed;
  background-color: #fff;

}

#head {
height: 15px;
background-color: #BFBFBF;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
margin-top: -1px;
width: 202px;
margin-left: -1px;
}

#content{
  margin-top: 12px;
}

.content{
  margin-top:15px;
  min-height:20px;
}


#life_bar {
  position: relative;
  top: 30%;
  margin-left: 40px;
  height:200px;
  width:880px;
  overflow: hidden;
}

.arrow{
  display: none;
  width: 40px;
  margin-top: 100px;
  cursor: pointer;
}

#arrow_right {
float: right;
margin-right: -5px;
}

#arrow_left {
float: left;
margin-left: -5px;
}

#right-arrow:hover, #higher:hover, #lower:hover {
  cursor: pointer;
}

#foot {
border-top: 1px solid #000;
}

#foot > img {
margin-left: 21px;
margin-top: 2px;
}

.action{
  cursor: pointer;
}





/*--reflection modal -----*/
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
  top: 0;
  left: 0;
}

.reflectionHolder{

  position: fixed;
  width: 800px;
  background-color: #fff;
  margin-left: -400px;
  left: 50%;
  height: 600px;
  top: 71px;

}

#reflectionText {
 margin-left: 11px;
}

div.reflectionHolder > h2 {
  text-align: center;
}

div.reflectionHolder > img {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

/* --- TIME INTERVAL SELECTION --- */

.time {
  display: none;
  color: #F0EBDF;

}

#time_intervals {
  margin-top: 27%;
  text-align: center;
  bottom: 100px;
  color: #F0EBDF;
}

#time_intervals > p{
  cursor: pointer;
}

#time_intervals p{
  display: inline;
  margin-left: 60px;
  font-weight: bold;
}

.selected {
  text-shadow: 0 0 26px #FFF;
  color: #FFF;
}

#past {
  position: relative;
  margin-left: 31px;
  top: 237px;
}

#future {
  position: absolute;
  margin-left: 910px;
  top: 267px;
}

#lower, #current_label {
  position: absolute;
  margin-top: 12%;
  margin-left: -1%;
  color: #F0EBDF;
}

#higher {
  position: absolute;
  margin-top: 12%;
  margin-left: 56%;
  color: #F0EBDF;
}

/**/
#lowerTime {
  display: block;
  width: 300px;
  position: relative;
  top: 144px;
  left: -110px;
}

#higerTime {
  display: block;
  position: relative;
  top: 63px;
  width: 300px;
  left: 600px;
  top: 144px;
}

.time > p {
  margin: 0;
  width: 100%;
  text-align: center;
}

