#container{
  width:960px;
  margin:auto;
  height: 800px;
}

#exit{
  float:right;
  width: 10px;
  padding-right: 2px;
  padding-top: 2px;

}

.action{
  height:20px;
  width:50%;
}

.popup{
  width:150px;
  height:150px;
  border:1px solid lightgrey;
  border-radius: 10px;
  position:fixed;
  background-color:#fff; 

}

#life_bar {
  position: absolute;
  top: 400px;
  margin-left: 40px;
  height:150px;
}
