<div id="title-nav">
  <div id="nav-left">
    LifeBar
  </div>
  <div id="nav-right">
    <ul>
      <li id="about">
        <a href="/about">About</a>
      </li>
      <li id="login">
        <% if @current_user.nil? %>
        <%= link_to "Sign In", signin_path %>
        <% elsif @current_user %>
        <%= link_to "Sign Out", signout_path %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
