<div id="title-nav">
  <div id="nav-left">
    <%= link_to "LifeBar", root_path %>
  </div>
  <div id="nav-right">
    <ul>
      <li id="about">
        <a href="/about">About</a>
      </li>
      
      <% if current_user %>
        <li id="signin">  
          <%= link_to "Sign Out", signout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", signin_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
      <% end %>
      
    </ul>
  </div>
</div>
